h1 {
    text-align: center;
}

table {
    margin-left: auto;/*表を中央にする*/
    margin-right: auto;
    border-collapse: collapse;/*表の枠線を1本にする？*/
    width: 400px;
    text-align: center;
}

table th, table td{/*table内のth,tdに対して*/
    padding: 30px;/*上下左右20pxずつ*/
    border: solid 1px black;/*表の枠線 1px 黒*/
    font-size: 130%;
  }

table th {
    text-align: left;
    font-size: 150%;
}
  
